<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>ClientesWS-SOAP-JAX-WS-Security</display-name>


	<security-role>
     	<description>Rol usuario</description>
     	<role-name>usuario</role-name>
   	</security-role>

	<security-constraint>
      	<web-resource-collection>
        	<web-resource-name>Seguridad para el rol usuario</web-resource-name>
        	<url-pattern>/ClienteWS</url-pattern>
      	</web-resource-collection>

      	<auth-constraint>
        	<role-name>usuario</role-name>
      	</auth-constraint>
      	<user-data-constraint>
          	<transport-guarantee>NONE</transport-guarantee>
          	<!-- 
          	<transport-guarantee>CONFIDENTIAL</transport-guarantee>
          	https://localhost:8443/ws/user tomcat con SSL 
          	 -->
      	</user-data-constraint>
   	</security-constraint>

	<login-config>
      	<auth-method>BASIC</auth-method>
   	</login-config>


	<listener>
        <listener-class>
                com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>WSServlet</servlet-name>
        <servlet-class>
        	com.sun.xml.ws.transport.http.servlet.WSServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>WSServlet</servlet-name>
        <url-pattern>/ClienteWS</url-pattern>
    </servlet-mapping>
        
</web-app>